﻿<div class="main">
    <div class="scrollable scrollbar-macosx">
        <div class="main__cont">
            <div class="container-fluid half-padding">
                <div class="pages pages_dashboard">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-danger">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Statistikk</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="ld-widget">
                                        <div class="ld-widget__cont">
                                            <div class="ld-widget-main">
                                                <div class="ld-widget-main__title">Sufferscore</div>
                                                <div class="ld-widget-main__chart"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/dist/libs/raphael/raphael-min.js"></script>
<script src="~/dist/libs/morris.js/morris.min.js"></script>
<script src="scripts/suffer.js"></script>
